body { background-color: #f8e8a6;}
h1, h2, h3 {
    text-align: center;
    color: black;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 16px;
}
h3 {
font-size: 16px;
}
.homepage {
    color: green;
    padding: 10px;
}
.photo {
    color: green;
    padding: 10px;
}
.Contact {
    color:green;
    padding: 10px;
}